<?xml version="1.0" encoding="UTF-8"?>
<profilesXml>
	<profiles>
		<profile>
			<id>developer</id>
			<properties>
				<!-- Make sure to capitalize the schema/USER name -->
				<database.username>TODO_USER</database.username>
				<database.password>unireg</database.password>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>oracle</activeProfile>
		<activeProfile>env.dev</activeProfile>
		<activeProfile>eclipse-developer</activeProfile>
	</activeProfiles>
</profilesXml>
