<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!--  Log4j Configuration pour Unireg-Interfaces dans Weblo                               -->
<!-- ===================================================================== -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
  <param name="Threshold" value="DEBUG" />
  <param name="Target" value="System.out"></param>  
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] [%M] %m%n"/>
  </layout>
</appender>

<appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="false" />
		<param name="File" value="unireg-interfaces.log" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[unireg-interfaces] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

<appender name="FISCAL-FILE-PERFS" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="Threshold" value="DEBUG" />
  <param name="File" value="app/unireg-interfaces/logs/fiscal-perfs-${ch.vd.serverName}.log"/>
  <param name="DatePattern" value="'.'yyyy-MM-dd"/>
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p %c - %m%n"/>
  </layout>
</appender>
<appender name="REGISTRE-FILE" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="Threshold" value="DEBUG" />
  <param name="File" value="app/unireg-interfaces/logs/registre-file-${ch.vd.serverName}.log"/>
  <param name="DatePattern" value="'.'yyyy-MM-dd"/>
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p %c - %m%n"/>
  </layout>
</appender>

<appender name="REGISTRE-FILE-ERROR" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="Threshold" value="DEBUG" />
  <param name="File" value="app/unireg-interfaces/logs/registre-file-error-${ch.vd.serverName}.log"/>
  <param name="DatePattern" value="'.'yyyy-MM-dd"/>
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p %c - %m%n"/>
  </layout>
</appender>

<appender name="DATABASE-FILE" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="Threshold" value="DEBUG" />
  <param name="File" value="app/unireg-interfaces/logs/database-file-${ch.vd.serverName}.log"/>
  <param name="DatePattern" value="'.'yyyy-MM-dd"/>
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p %c - %m%n"/>
  </layout>
</appender>

<appender name="INTERFACES-MAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="Threshold" value="INFO" />
		<param name="BufferSize" value="512"/>
		<param name="From" value="int-alertes-unireg-interfaces-NoREPLY@vd.ch"/>
		<param name="To" value="philippe.desponds@vd.ch,baba-issa.ngom@vd.ch"/>
		<param name="SMTPHost" value="smtp.vd.ch"/>
		<param name="Subject" value="[INTEGRATION]Unireg-Interfaces Service Error"/>
		<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %-5p %c [%t] - %m%n"/>
		</layout>
	</appender>

<!-- Category Definitions -->



<category name="registre.fiscal.service.perfs" additivity="false">
  <priority value="INFO"/>
  <appender-ref ref="CONSOLE"/>
  <appender-ref ref="FISCAL-FILE-PERFS"/>
</category>	


<category name="ch.vd.uniregctb" additivity="false">
  <priority value="INFO"/>
  <appender-ref ref="CONSOLE"/>
  <appender-ref ref="REGISTRE-FILE"/>
</category>	

<category name="ch.vd.uniregctb.fiscal.service.impl.ServiceFiscalImpl.err" additivity="false">
  <priority value="INFO"/>
  <appender-ref ref="CONSOLE"/>
  <appender-ref ref="REGISTRE-FILE-ERROR"/> 
</category>	

<category name="ch.vd.uniregctb.fiscal.service.impl.ServiceFiscalBean.err" additivity="false">
  <priority value="INFO"/>
  <appender-ref ref="CONSOLE"/>
  <appender-ref ref="REGISTRE-FILE-ERROR"/> 
</category>	



<category name="ch.vd.utils.database" additivity="false">
  <priority value="INFO"/>
  <appender-ref ref="CONSOLE"/>
  <appender-ref ref="DATABASE-FILE"/>
</category>	


<root>
  <level value="INFO"/>
  <appender-ref ref="CONSOLE"/>
  <appender-ref ref="LOGFILE"/>
</root>  

</log4j:configuration>

