
th.sortable {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(arrow_off.png);
	background-position: right;
	padding-right: 20px;
}

th.sortable:hover {
	text-decoration: none;
}

th.sorted {
	background-repeat: no-repeat;
	background-position: right;
}

th.order1 {
	background-image: url(arrow_down.png);
}

th.order2 {
	background-image: url(arrow_up.png);
}
/*
tr.odd {
	
}

tr.even {
	background-color: #eff3fe;
}

tr.strike td {
	text-decoration:line-through;	
}

*/

.excel {
	background-image: url(excel.png);
}

.pdf {
	background-image: url(pdf.png);
}

.pdf-grayed {
	background-image: url(pdf-grayed.png);
}

.json {
	visibility: hidden;
}
