<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
	<!--&lt;!&ndash; encoders are assigned the type-->
	<!--ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
	<!--<encoder>-->
	<!--<pattern>[migration] %-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8thread] %msg%n</pattern>-->
	<!--</encoder>-->
	<!--</appender>-->

	<appender name="MAIN" class="ch.qos.logback.core.FileAppender">
		<file>log/migration.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-5level [%-20logger{20}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="PERF" class="ch.qos.logback.core.FileAppender">
		<file>log/perfs.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- -->
	<!-- Logger généraux -->

	<logger name="ch.vd.uniregctb.migration.pm.utils.TracingFactory" additivity="false">
		<appender-ref ref="PERF"/>
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="INFO" />
	</logger>

	<logger name="ch.vd">
		<level value="INFO" />
	</logger>

	<root level="debug">
		<!--<appender-ref ref="CONSOLE"/>-->
		<appender-ref ref="MAIN" />
	</root>

</configuration>