<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
	<!--&lt;!&ndash; encoders are assigned the type-->
	<!--ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
	<!--<encoder>-->
	<!--<pattern>[migration] %-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8thread] %msg%n</pattern>-->
	<!--</encoder>-->
	<!--</appender>-->

	<appender name="MAIN" class="ch.qos.logback.core.FileAppender">
		<file>log/migration.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-5level [%-20logger{20}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="PERF" class="ch.qos.logback.core.FileAppender">
		<file>log/perfs.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- -->
	<!-- Appenders/loggers spécifiques pour les listes de contrôles -->

	<appender name="ADRESSES" class="ch.qos.logback.core.FileAppender">
		<file>log/adresses.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.ADRESSES" additivity="false">
		<appender-ref ref="ADRESSES"/>
	</logger>

	<appender name="ADRESSES_PERMANENTES" class="ch.qos.logback.core.FileAppender">
		<file>log/adresses-permanentes.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.ADRESSES_PERMANENTES" additivity="false">
		<appender-ref ref="ADRESSES_PERMANENTES"/>
	</logger>

	<appender name="INDIVIDUS_PM" class="ch.qos.logback.core.FileAppender">
		<file>log/individus-pm.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.INDIVIDUS_PM" additivity="false">
		<appender-ref ref="INDIVIDUS_PM"/>
	</logger>

	<appender name="ETABLISSEMENTS" class="ch.qos.logback.core.FileAppender">
		<file>log/etablissements.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.ETABLISSEMENTS" additivity="false">
		<appender-ref ref="ETABLISSEMENTS"/>
	</logger>

	<appender name="FORS" class="ch.qos.logback.core.FileAppender">
		<file>log/fors.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.FORS" additivity="false">
		<appender-ref ref="FORS"/>
	</logger>

	<appender name="DECLARATIONS" class="ch.qos.logback.core.FileAppender">
		<file>log/declarations.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.DECLARATIONS" additivity="false">
		<appender-ref ref="DECLARATIONS"/>
	</logger>

	<appender name="ASSUJETTISSEMENTS" class="ch.qos.logback.core.FileAppender">
		<file>log/assujettissements.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.ASSUJETTISSEMENTS" additivity="false">
		<appender-ref ref="ASSUJETTISSEMENTS"/>
	</logger>

	<appender name="COORDONNEES_FINANCIERES" class="ch.qos.logback.core.FileAppender">
		<file>log/coordonnees-financieres.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.COORDONNEES_FINANCIERES" additivity="false">
		<appender-ref ref="COORDONNEES_FINANCIERES"/>
	</logger>

	<appender name="DONNEES_CIVILES_REGPM" class="ch.qos.logback.core.FileAppender">
		<file>log/donnees-civiles-regpm.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.DONNEES_CIVILES_REGPM" additivity="false">
		<appender-ref ref="DONNEES_CIVILES_REGPM"/>
	</logger>

	<appender name="RAPPORTS_ENTRE_TIERS" class="ch.qos.logback.core.FileAppender">
		<file>log/rapports-entre-tiers.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.RAPPORTS_ENTRE_TIERS" additivity="false">
		<appender-ref ref="RAPPORTS_ENTRE_TIERS"/>
	</logger>

	<appender name="DP_APM" class="ch.qos.logback.core.FileAppender">
		<file>log/dp-apm.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.DP_APM" additivity="false">
		<appender-ref ref="DP_APM"/>
	</logger>

	<appender name="MAPPINGS_REGIMES_FISCAUX" class="ch.qos.logback.core.FileAppender">
		<file>log/mappings-regimes-fiscaux.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.MAPPINGS_REGIMES_FISCAUX" additivity="false">
		<appender-ref ref="MAPPINGS_REGIMES_FISCAUX"/>
	</logger>

	<appender name="FORS_OUVERTS_APRES_FIN_ASSUJETTISSEMENT" class="ch.qos.logback.core.FileAppender">
		<file>log/fors-ouverts-apres-fin-assuj.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.FORS_OUVERTS_APRES_FIN_ASSUJETTISSEMENT" additivity="false">
		<appender-ref ref="FORS_OUVERTS_APRES_FIN_ASSUJETTISSEMENT"/>
	</logger>

	<appender name="FORS_IGNORES_AUCUN_ASSUJETTISSEMENT" class="ch.qos.logback.core.FileAppender">
		<file>log/fors-ignores-aucun-assuj.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.FORS_IGNORES_AUCUN_ASSUJETTISSEMENT" additivity="false">
		<appender-ref ref="FORS_IGNORES_AUCUN_ASSUJETTISSEMENT"/>
	</logger>


	<appender name="IDE_SANS_NO_CANTONAL" class="ch.qos.logback.core.FileAppender">
		<file>log/ide-sans-no-cantonal.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.IDE_SANS_NO_CANTONAL" additivity="false">
		<appender-ref ref="IDE_SANS_NO_CANTONAL"/>
	</logger>

	<appender name="DIFFERENCES_DONNEES_CIVILES" class="ch.qos.logback.core.FileAppender">
		<file>log/differences-donnees-civiles.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.DIFFERENCES_DONNEES_CIVILES" additivity="false">
		<appender-ref ref="DIFFERENCES_DONNEES_CIVILES"/>
	</logger>

	<appender name="FORMES_JURIDIQUES_INCOMPATIBLES" class="ch.qos.logback.core.FileAppender">
		<file>log/formes-juridiques-incompatibles.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.FORMES_JURIDIQUES_INCOMPATIBLES" additivity="false">
		<appender-ref ref="FORMES_JURIDIQUES_INCOMPATIBLES"/>
	</logger>

	<appender name="APPARIEMENTS_ETABLISSEMENTS_SECONDAIRES" class="ch.qos.logback.core.FileAppender">
		<file>log/appariements-etablissements-secondaires.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.APPARIEMENTS_ETABLISSEMENTS_SECONDAIRES" additivity="false">
		<appender-ref ref="APPARIEMENTS_ETABLISSEMENTS_SECONDAIRES"/>
	</logger>

	<appender name="APPARIEMENTS_REJETES_FORME_JURIDIQUE" class="ch.qos.logback.core.FileAppender">
		<file>log/appariements-rejetes-forme-juridique.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.APPARIEMENTS_REJETES_FORME_JURIDIQUE" additivity="false">
		<appender-ref ref="APPARIEMENTS_REJETES_FORME_JURIDIQUE"/>
	</logger>

	<appender name="EXCEPTIONS" class="ch.qos.logback.core.FileAppender">
		<file>log/exceptions.log</file>
		<append>true</append>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}];%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.EXCEPTIONS" additivity="false">
		<appender-ref ref="EXCEPTIONS"/>
	</logger>

	<appender name="SUIVI" class="ch.qos.logback.core.FileAppender">
		<file>log/suivi.csv</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="ch.vd.uniregctb.migration.pm.log.LogCategory.SUIVI" additivity="false">
		<appender-ref ref="SUIVI"/>
	</logger>

	<!-- -->
	<!-- Logger généraux -->

	<logger name="ch.vd.uniregctb.migration.pm.utils.TracingFactory" additivity="false">
		<appender-ref ref="PERF"/>
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="INFO" />
	</logger>

	<logger name="ch.vd">
		<level value="INFO" />
	</logger>

	<root level="DEBUG">
		<!--<appender-ref ref="CONSOLE"/>-->
		<appender-ref ref="MAIN" />
	</root>

</configuration>