<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[rattrapage-donnees] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="LOGFILE"
		class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="false" />
		<param name="File" value="rattrapage.log" />
		<!--  1Gb de logs -->
		<param name="MaxFileSize" value="20000KB" />
		<param name="MaxBackupIndex" value="50" />
		<!--  1Gb de logs -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[rattrapage-donnees] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<appender name="RAPPORTFORSUPPRIME" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="RapportForSupprime.csv" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="INFO" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	<appender name="RAPPORTMARIESEULFILE" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="RapportTraitementMarieSeul.csv" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="INFO" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>

	<appender name="RAPPORTERREURMARIESEULFILE" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="RapportErreurMarieSeul.csv" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="ERROR" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	<logger name="ch.vd.uniregctb">
		<level value="INFO" />
	</logger>
	<logger name="ch.vd.uniregctb.rattrapage">
		<level value="DEBUG" />
	</logger>
	<logger name="ch.vd.uniregctb.rattrapage.sqllog">
		<level value="DEBUG" />
	</logger>

	<logger name="ch.vd.uniregctb.rattrapage.ContribuableManager.For" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RAPPORTFORSUPPRIME"/>
	</logger>
	<logger name="ch.vd.uniregctb.rattrapage.ContribuableManager.Rapport" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RAPPORTMARIESEULFILE"/>
	</logger>
	<logger name="ch.vd.uniregctb.rattrapage.ContribuableManager.Error" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="RAPPORTERREURMARIESEULFILE"/>
	</logger>
	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<logger name="org.dbunit">
		<level value="INFO" />
	</logger>

	<!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
	<logger name="org.acegisecurity">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>


	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGFILE" />
	</root>

</log4j:configuration>
