a.add,
a.copy,
a.detail,
a.consult,
a.historique,
a.download,
a.edit,
a.delete,
a.undelete,
a.selectionner,
a.correction,
a.notes,
a.replay,
a.pdf,
a.calendar {
	background: no-repeat left top;
	text-decoration: none;
	padding-left:16px;
	padding-bottom:2px;
	overflow:hidden;		
}

a.add:hover,
a.copy:hover,
a.detail:hover,
a.consult:hover,
a.historique:hover,
a.download:hover,
a.edit:hover,
a.delete:hover,
a.undelete:hover,
a.selectionner:hover,
a.correction:hover,
a.notes:hover,
a.replay:hover,
a.pdf:hover,
a.calendar:hover {
	background-repeat: no-repeat;
	z-index: 500;
	text-decoration: none;
}

a.add:hover span,
a.copy:hover span,
a.detail:hover span,
a.consult:hover span,
a.historique:hover span,
a.download:hover span,
a.edit:hover span,
a.delete:hover span,
a.undelete:hover span,
a.selectionner:hover span,
a.correction:hover span,
a.notes:hover span,
a.replay:hover span,
a.pdf:hover span,
a.calendar:hover span {
	display: block;
	position: absolute;
	top: 2em;
	left: 1em;
	background: #ffffe0;
	text-align: center;
	color: black;
	padding: 2px;
}

span.add,
span.copy,
span.delete,
span.correction,
span.detail,
span.consult,
span.historique,
span.download,
span.delete,
span.undelete,
span.selectionner,
span.edit,
span.notes,
span.replay,
span.pdf,
span.calendar {
	display: none;
}

.correctionOrigine {
	font-style: italic;
	font-size: 8pt;
}

legend a.delete:hover {
	background-repeat: no-repeat;
	z-index: 500;
	text-decoration: none;
}
