<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
							http://www.springframework.org/schema/util
							http://www.springframework.org/schema/util/spring-util-2.0.xsd">
<!-- 
	<bean id="paramApplicationManager" class="ch.vd.uniregctb.param.manager.ParamApplicationManagerImpl">
		<property name="dao"> 
			<bean class="ch.vd.uniregctb.parametrisation.ParamApplicationDAOSimpleImpl">
				<property name="defaultParamApplication">
					<bean class="ch.vd.uniregctb.parametrisation.ParamApplication">
						<property name="premierePeriodeFiscale" value="2003"/>
						<property name="nbMaxParListe" value="100"/>
						<property name="nbMaxParPage" value="10"/>
						<property name="delaiAttenteDI" value="30" />
					</bean>
				</property>
				<property name="paramApplication">			
					<bean class="ch.vd.uniregctb.parametrisation.ParamApplication">
						<property name="premierePeriodeFiscale" value="2004"/>
						<property name="nbMaxParListe" value="200"/>
						<property name="nbMaxParPage" value="15"/>
						<property name="delaiAttenteDI" value="35" />
					</bean>			
				</property>
			</bean>
		</property>
	</bean>		
-->
</beans>
