a.filename {
	display: inline;
	float: left;
}


legend span.delete {
	display: none;
	color: #00FF00;
}

legend a.delete {
	display: inline;
	float: left;
}

.complements, .civil, .adresses, .fiscal, .tiers, .menage, .entreprises,
.adresse, .for_fiscal, .prestations_imposables, .information, .autres_roles,
.categorie, .situation_fiscale, .rechercheTiers, .rechercheEvenement, .visuTiers, .visuEvenement, .editTiers {
	border: 1px solid #bcbcbc;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	background-image: url(bgpannelouter.jpg);
	background-repeat: repeat;
}

table.civil {
	border: none;
	margin: 0;
	padding: 0 0 10px;
}

fieldset.individu {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
}

.individu {
	border: 1px solid #cdcdcd;
	padding: 10px;
	margin: 10px;
	position: relative;
	top: 10px;
	z-index: 1;
	display: block;
	background-image: url(bgpannelinner.jpg);
	background-repeat: repeat;
}

.individu tr.even, .entreprise tr.even, .adresse tr.even, .information tr.even,.imposition tr.even,
.prestations_imposables tr.even, .for_fiscal tr.even, .categorie tr.even, .situation_fiscale tr.even,
 .autres_roles tr.even, .rechercheTiers tr.even, .rechercheEvenement tr.even, .editTiers tr.even,
.seulPP tr.even {
	background-color: #ddd;
}

.individu tr.odd, .entreprise tr.odd, .adresse tr.odd, .information tr.odd, .imposition tr.odd,
.prestations_imposables tr.odd, .for_fiscal tr.odd, .categorie tr.odd, .situation_fiscale tr.odd,
 .autres_roles tr.odd, .rechercheTiers tr.odd, .rechercheEvenement tr.odd, .editTiers tr.odd {
}

div.coupleMergeArrow {
	width: 500px;
	height: 150px;
	background-image: url('merge.png');
}

.supergra table.transform td.middle {
	text-align: center;
	padding: 1em;
}

.supergra table.transform div.transformArrow {
	display: inline-block;
	width: 134px;
	height: 75px;
	background: url('transform.png') center no-repeat;
}

.supergra table.params {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.supergra table.params td {
	padding-right: 0.5em;
}

.supergra input[type=submit] {
	margin: 1em;
	padding: 0.5em;
	border-color: #FA8072;
	background-color: #FFA07A;
}

.supergra input[type="button"] {
	margin: 1em;
	padding: 0.5em;
}

.supergra div.legend {
	display: inline-block;
	background-color: #fafad2;
	width: auto;
	padding: 0.5em;
	text-align: left;
}

div.coupleMergeArrow div {
	padding-top: 20px;
}

div.ctbInconnu {
	width: 128px;
	height: 128px;
	background-image: url('../../images/tiers/inconnu.png');
	margin-left: auto;
	margin-right: auto;
}

div.newMc {
	width: 128px;
	height: 128px;
	background-image: url('../../images/tiers/nouveau_menagecommun.png');
	margin-left: auto;
	margin-right: auto;
}

.seulPP {
	
}

.coupleMenageCommun {
	width: 99%;
	float: left;
}

.coupleMenageCommun + div#buttons {
	float: left;
}
	
.coupleContribuableOuvert {
	width: 60%;
}

.display table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0;
}

.display  th, .display  td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

.display td.number {
	text-align: right;
	padding-right: 1px;
}

.display thead tr {
	background-color: #fc0;
}


.display  th a,.display  th a:visited {
	color: black;
}

.display th a:hover {
	text-decoration: underline;
	color: black;
}

.display  th.sorted a,.display th.sortable a {
	background-position: right;
	display: block;
	width: 99%; 
}

.display tr.odd {
	background-color: #fff
}

.information tr.inactif {
	background-color: #ffff00;
	font-weight:bold;
	font-size:xx-small;
}

.information tr.evts-civils-non-traites {
	background-color: #ffc4a7;
	font-weight:bold;
	font-size:xx-small;
}

.information td.composition_menage {
	width: 32px;
	padding-left: 10px;
	border-left: 1px solid #CDCDCD;
}

.information td.composition_menage img.avatar {
	width: 32px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.information td {
	padding-top: 0;
	padding-bottom: 0;
}

.information table {
	margin-bottom: 5px;
}

/**
 * Table d'action de synchronisation
 */

#actions_column {
	width: 20em;
	padding-top: 1em;
	padding-left: 1em;
}

#actions_list table {
	width: auto;
	background-color: white;
	color: gray;
}

#actions_list tr.header td {
	background-color: wheat;
	color: black;
	border: 1px black dotted;
}

#actions_list td {
	padding : 0.8em;
}

#actions_list td.rowheader {
	border-left: 1px black dotted;
	border-bottom: 1px black dotted;
	padding-right: 0;
	vertical-align: top;
}

#actions_list td.action {
	border-right: 1px black dotted;
	border-bottom: 1px black dotted;
	text-align: left;
}

#actions_list td.error {
	border-right: 1px black dotted;
	border-bottom: 1px black dotted;
	text-align: left;
}

/**
 * Table des remarques
 */

#remarques {
	margin: 0.5em;
}

#remarques .new_remarque * {
	margin: 0.2em;
}

#remarques .new_remarque button {
	padding: 0.2em;
}

#remarquesContentDiv {
	margin-top: 0.5em;
}

#remarques table.remarques {
	margin-top: 0.5em;
	color: gray;
	background-color:transparent;
	background-image:url("bgpannelinner.jpg");
	background-repeat:repeat;
}

#remarques td {
	vertical-align: top;
	padding: 0.2em;
}

#remarques td.entete {
	width: 20%;
	font-size:10px;
}

#remarques td.texte {
	color: black;
	max-width: 300px;
	word-wrap: break-word;
}

/**
 * Options
 */

#optionsDiv {
	margin-left: auto;
	margin-right: 1em;
	width: 10em;
}

/**
 * Information
 */

div.bulletted-info {
	text-align: left;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius:			10px;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	padding: 0.5em;
	padding-left: 2em;
	background-color: LightSteelBlue;
}

/**
 * Flash
 */

div.flash {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	border-radius:			10px;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	padding: 0.5em;
	background-color: GreenYellow;
}

input.flash {
	background-color: GreenYellow;
}

div.flash-warning {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	border-radius: 			10px;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	padding: 0.5em;
	background-color: Orange;
}

div.flash-error {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	border-radius:			10px;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	padding: 0.5em;
	font-weight:bold;
	color: white;
	background-color: Red;
}

/* autocomplete jQuery UI */
.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	_height: 300px;
}

.ui-autocomplete-loading {
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/**
 * Inbox / boîte de réception
 */

.inbox tr.unread td {
	font-weight: bold;
}

.inbox tr.read td {
	font-weight: normal;
}

/**
 * Création de fors
 */

.createPrincipalLink {
	margin-left: 10px;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
	background: url(fors/principal_16.png) no-repeat;
}

.createSecondaireLink {
	margin-left: 10px;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
	background: url(fors/secondaire_16.png) no-repeat;
}

.createAutreElementLink {
	margin-left: 10px;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
	background: url(fors/autreelementimposable_16.png) no-repeat;
}

.createAutreLink {
	margin-left: 10px;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
	background: url(fors/autre_16.png) no-repeat;
}

/**
 * E-Facture
 */

textarea.add-comment {
	height: 60px;
	width: 360px;
	resize: none;
}

/**
 * Droits d'accès
 */

table.conflicts th, table.conflicts td {
	vertical-align: middle;
}

table.conflicts td.conflict {
	background-color: orange;
}

#messageDecision{
    font-weight:bold;
    background-color:yellow;
}

input.bigbutton {
	font-size: 150%;
	padding: 10px 20px;
}

/**
 * Dégrèvements et exonérations
 */

table.degrevement {
	padding: 5px 0 5px 5px;
}
table.degrevement td.titre,th.titre {
	width: 28%;
}
table.degrevement td.valeur,th.valeur {
	width: 36%;
}
table.degrevement th.valeur {
	padding: 0 0 0 1em;
}
table.degrevement input.nombre, table.exoneration input.nombre {
	width: 15ex;
	text-align: right;
}
table.degrevement td.valeur div.computed {
	padding: 0 0 0 1em;
	font-style: italic;
	font-weight: bold;
	color: darkslateblue;
	width: 5em;
	text-align: right;
}
table.degrevement_list th.separator, table.degrevement_list td.separator {
	width: 1px;
	padding: 0 !important;
	background-image: url(bgpannelinner.jpg);
	background-repeat: repeat;
}
