<settings>




<!-- A cause d'un bug dans le plugin weblogic, il faut avoir une REPO dont le path ne contient pas d'espaces -->
<localRepository>file:///c:/java/maven/repository</localRepository>



<!-- maven.repo.remote=http://www.ibiblio.org/maven,http://team.andromda.org/maven -->
    <proxies>
        <proxy>
            <active>true</active>
            <host>proxy1.vd.ch</host>
            <port>8080</port>
        </proxy>
    </proxies>
</settings>
