<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[moscow] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="File" value="moscow.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[moscow] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%8.8t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="ch.vd.moscow">
		<level value="DEBUG" />
	</logger>

	<logger name="ch.vd.moscow.controller.ExceptionResolver">
		<level value="INFO" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="LOGFILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
