/*******************************************************************
 * Les styles utilisés pour le suggest							   *
 ******************************************************************/


.autocomplete .sr {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}

.autocomplete .selected {
	background-color: #36c;
	color: #fff;
}

.autocomplete TABLE {
	width: auto;
}

INPUT.autocomplete {
	border: solid 1px rgb(85,85,85);
}

INPUT.empty {
	background-color: rgb(227,240,250);
}

.autocompleteContainer {
	position: absolute;
	overflow-y:scroll;
	background-color:white;
	margin: 0px;
	z-index: 99;
	border:1px black solid;
	scrollbar-arrow-color:#7E91A4; 
	scrollbar-3dlight-color:whitesmoke; 
	scrollbar-darkshadow-color:whitesmoke; 
	scrollbar-shadow-color:lightgrey; 
	scrollbar-highlight-color:lightgrey; 
	scrollbar-base-color:lightgrey; 
	scrollbar-track-color:whitesmoke;
}

