
/**
 * Table des états des tiers
 */

#states_list {
	margin-bottom: 1em;
}

#states_list table {
	width: auto;
	background-color: white;
	color: gray;
}

#states_list tr.header td {
	background-color: #EFF3FE;
	color: black;
	border: 1px black dotted;
	padding : 0.8em;
}

#states_list td.state {
	border-left: 1px black dotted;
	border-right: 1px black dotted;
	border-bottom: 1px black dotted;
	text-align: left;
	padding : 0.8em;
}

#states_list td.footer {
	background-color: #EFF3FE;
	border-left: 1px black dotted;
	border-right: 1px black dotted;
	border-bottom: 1px black dotted;
	text-align: left;
	padding : 0.8em;
}

#states_list td.bullet {
	padding-right : 0.8em;
	vertical-align: top;
}

#states_list td.error {
	color: red;
	font-size: 12px;
	font-weight: normal;
}

#states_list td.header_valid {
	padding-left: 22px;
	background-image:url("checkmark.png");
	background-repeat: no-repeat;
}

#states_list td.header_warning {
	padding-left: 22px;
	background-image:url("warn.png");
	background-repeat: no-repeat;
}

#states_list td.header_error {
	padding-left: 22px;
	background-image: url("error.gif");
	background-repeat: no-repeat;
}

/**
 * Table d'action de synchronisation
 */

#actions_list .attributeName {
	font-style: italic;
	color: #404040;
}

#actions_list .attributeValue {
	color: #404040;
	background-color : #E8E8E8;
}
