<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- log4j config pour les UT de Core -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- Le "Threshold" veut dire qu'il ne va logger que les messages -->
		<!-- "Threshold level" ou plus haut -->
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[weblosync] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="LOGFILE" class="org.apache.log4j.FileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="false" />
		<param name="File" value="weblosync.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[weblosync] %-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>


	<logger name="ch.vd.uniregctb">
		<level value="DEBUG" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
	<logger name="org.acegisecurity">
		<level value="WARN" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
	</logger>

	<logger name="weblogic.workaround">
		<level value="INFO" />
	</logger>


	<root>
		<level value="DEBUG" />
		<!--
		<appender-ref ref="LOGFILE" />
		-->
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
