
# Ce fichier contient les propriétés utilisées par les tests d'Unireg

#
# Configuration DB d'Unireg
#
testprop.jdbc.username=<username here>
testprop.jdbc.password=unireg

# Oracle
testprop.jdbc.server=grominet
testprop.jdbc.port=1521
testprop.jdbc.instance=ORCL
testprop.jdbc.url=jdbc:oracle:thin:@${testprop.jdbc.server}:${testprop.jdbc.port}:${testprop.jdbc.instance}

# Postgresql
#testprop.jdbc.server=grominet
#testprop.jdbc.port=
#testprop.jdbc.instance=
#testprop.jdbc.url=jdbc:postgresql://${testprop.jdbc.server}/${database.username}

# Hsql
#testprop.jdbc.server=mem
#testprop.jdbc.port=
#testprop.jdbc.instance=aname
#testprop.jdbc.url=jdbc:hsqldb:${testprop.jdbc.server}:${testprop.jdbc.instance}

# Mysql
#testprop.jdbc.server=localhost
#testprop.jdbc.port=
#testprop.jdbc.instance=unireg
#testprop.jdbc.url=jdbc:mysql://${testprop.jdbc.server}/${testprop.jdbc.instance}

#
# Configuration du Host
#
testprop.db2.driverClassName=com.ibm.db2.jcc.DB2Driver
testprop.db2.proxy=jdbc:db2://solve60v:50000/DB2A

# CEDM/CIIA1 (Devel)
testprop.host-interfaces.url=t3://solve61v:65032
testprop.host-interfaces.username=
testprop.host-interfaces.password=
testprop.db2.username=W#ASILD1
testprop.db2.password=ehp6r3a
testprop.db2.schema=CIIA1

# CJVZ/CIIV1 (Validation)
#testprop.host-interfaces.url=t3://solve61v:63222
#testprop.host-interfaces.username=
#testprop.host-interfaces.password=
#testprop.db2.username=W#ASIZV1
#testprop.db2.password=tao0603
#testprop.db2.schema=CIIV1

# CFTZ/CIIT1 (Formation)
#testprop.host-interfaces.url=t3://solve61v:63252
#testprop.host-interfaces.username=
#testprop.host-interfaces.password=
#testprop.db2.username=W#ASIZT1
#testprop.db2.password=tao2form
#testprop.db2.schema=CIIT1

# CMDZ/CIIA2 (Preproduction)
#testprop.host-interfaces.url=t3://solve61v:63226
#testprop.host-interfaces.username=
#testprop.host-interfaces.password=
#testprop.db2.username=W#ASILD1
#testprop.db2.password=ehp6r3a
#testprop.db2.schema=CIIA2

#
# Configuration d'Unireg
#

# Hibernate
testprop.hibernate.hbm2ddl.mode=update

# Misc
testprop.unireg.deploymenturl=/unireg
testprop.indexer.globalIndexPath=/projets/tmp/unireg-index-unittests
testprop.documents.repository=/projets/tmp/unireg-documents-unittests
#testprop.indexer.globalIndexPath=c:\projets\tmp\unireg-index-unittests
#testprop.documents.repository=c:\projets\tmp\unireg-documents-unittests

# SIPF BVR Plus WebService
testprop.webservice.sipf.bvrplus.url=http://ssv0214v:64804/fiscalite/form-sipf/bvrplus/SipfBVRPlusImpl
testprop.webservice.sipf.bvrplus.username=
testprop.webservice.sipf.bvrplus.password=
